{:deps  {org.clojure/data.csv {:mvn/version "1.0.1"}
         thi.ng/geom          {:mvn/version "1.0.1"
                               :exclusions  [org.clojure/clojurescript
                                             org.jogamp.jogl/jogl-all]}}
 :paths ["."]}
