{:deps
 {org.clojure/data.csv
  {:mvn/version
   "1.0.1"}
  ;;
  thi.ng/geom
  {:mvn/version
   "1.0.0-RC5"}
  ;;
  thi.ng/math
  {:mvn/version
   "0.3.1"}
  ;;
  thi.ng/ndarray
  {:mvn/version
   "0.3.3"}
  ;;
  thi.ng/color
  {:mvn/version
   "1.5.0"}}
 :paths
 ["."]
}
